1) Spot-futures parity
    1.1) Получить данные котировок (исторические/лайв)
        1.1.1) Измерить доходность и риск активов
    1.2) Получить данные фьючерсов (исторические/лайв)
    1.3) Получить данные T-bills
    1.4) Рассчитать профит с учетом срока до экспирации и комиссий

2) Отработка спрэдов на криптобирже

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels
import seaborn as sns
import scipy

from QuikPy import QuikPy
from techfunc import *

In [4]:
qp_provider = QuikPy()

In [5]:
sberdata = qp_provider.get_candles_from_data_source('TQBR', 'SBER', 5)

In [10]:
pd.json_normalize(sberdata['data'])

,sec,open,high,low,volume,close,class,interval,datetime.min,datetime.sec,datetime.month,datetime.year,datetime.week_day,datetime.ms,datetime.hour,datetime.count,datetime.day
0,SBER,261.16,261.22,261.13,1789.0,261.18,TQBR,5,50,0,8,2024,3,0,19,1,28
1,SBER,261.18,261.21,261.04,6330.0,261.20,TQBR,5,55,0,8,2024,3,0,19,1,28
2,SBER,261.20,261.37,261.20,4070.0,261.27,TQBR,5,0,0,8,2024,3,0,20,1,28
3,SBER,261.26,261.30,261.23,2259.0,261.29,TQBR,5,5,0,8,2024,3,0,20,1,28
4,SBER,261.27,261.70,261.27,20103.0,261.50,TQBR,5,10,0,8,2024,3,0,20,1,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,SBER,266.95,267.10,266.95,10313.0,267.09,TQBR,5,10,0,10,2024,3,0,12,1,2
4012,SBER,267.09,267.19,266.90,12695.0,267.19,TQBR,5,15,0,10,2024,3,0,12,1,2
4013,SBER,267.19,267.44,267.15,9457.0,267.21,TQBR,5,20,0,10,2024,3,0,12,1,2
4014,SBER,267.21,267.38,267.14,5159.0,267.14,TQBR,5,25,0,10,2024,3,0,12,1,2
4015,SBER,267.15,267.16,267.14,91.0,267.15,TQBR,5,30,0,10,2024,3,0,12,1,2